html {
    background-color: rgba(88, 88, 163, 0.993);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#Form {
    background-color: bisque;
    padding-left: 30%;
}

#stats {
    text-align: center;
}

#body {
    background-color: bisque;

}
