extends layout 

block content
        form(id='Fvalue' method='post' action='/create')
            p Username:
                br
                input(name='username' type='text')
            p Email:
                br
                input(name='email' type='text')
            p Age: 
                br
                input(name='age' type='text')   
            p Password:
                br
                input(name='password' type='text')
            p What is your favorite primary color?
                select(name="color") 
                    option(name='Red') Red
                    option(name='Blue') Blue
                    option(value='Yellow') Yellow
                    option(value="I hate colors") I hate colors
            p What is your meal of the day?
                select(name="meal")
                    option(name='Breakfast') Breakfast
                    option(name='Lunch') Lunch
                    option(name='Dinner') Dinner
            p Batman or Superman?
                select(name='superhero')
                    option(name='Batman') Batman, Duh.
                    option(name='Superman') Easy, Superman.
                    option(name='Captain America') Captain America   
            p
                input(type='submit' value='Sign Up')
            p 
                a(href='/') Returning User? Log in here    
        p Last Visited on #{cookie}
