extends layout 

block content
  div(id='body')
    p Last Visited on #{cookie} 
    p 
      td 
        a(href='/edit/:username') Update Information

    p(id='stats') Statistics between users 
    br
    p
      input(type='submit' value='Log out')
